.about {
  background-color: #faf8f0;

  // .about__container

  &__container {
  }

  // .about__body

  &__body {
    @include adaptiveValue("column-gap", 100, 50, 1400, 1240, 1);

    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .about__block-img
  &__block-img {
    position: relative;
    width: 50%;

    @media (max-width: $tablet) {
      width: 90%;
      margin-bottom: 20px;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }

    // &::before {
    //   content: "";
    //   background-image: url("@img/about__video-preview.jpg");
    //   background-size: 100%;
    //   position: absolute;
    //   top: -50px;
    //   right: -50px;
    //   width: 100%;
    //   height: 100%;
    //   opacity: 0.4;
    // }
  }

  // .about__block-img-wrapper
  &__block-img-wrapper {
    height: auto !important;
  }

  // .about__img-wrapper

  &__img-wrapper {
    max-height: 450px;

    @media (max-width: $mobile) {
      max-height: 300px;
    }

    @media (max-width: $mobileSmall) {
      max-height: 240px;
    }
  }

  // .about__img

  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
  }

  // .about__block-text

  &__block-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $tablet) {
      width: 90%;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  // .about__title

  &__title {
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $mainColorOrange;
    }
  }

  // .about__text

  &__text {
    @include adaptiveValue("font-size", 24, 16, 1240, 479, 1);
    text-align: justify;
    margin-bottom: 18px;
    line-height: math.div(30, 26);

    & span:not(:last-child) {
      display: block;
      margin-bottom: 14px;
    }
  }

  // .about__button

  &__button {
    &::before {
      background-color: transparent;
      &:hover {
      }
    }
    & span {
      border-color: $mainColorFonts;

      &:hover {
        background-color: $mainColorFonts;
      }
    }
  }

  // .about__pagination
  &__pagination {
    display: flex;
    column-gap: 10px;
    position: unset;
    bottom: 0;
    justify-content: center;
    margin-top: 10px;
  }
}
.title {
}
.main {
  // .main__button

  &__button {
  }
}
.button {
}
