.about {
  background-color: #faf8f0;
  padding-top: 100px;
  padding-bottom: 60px;
  // .about__container

  &__container {
  }

  // .about__body

  &__body {
    display: flex;
    column-gap: 130px;
    justify-content: space-between;
  }

  // .about__block-video

  &__block-video {
    position: relative;
    width: 60%;

    &::before {
      content: "";
      background-image: url("@img/about__video-preview.jpg");
      background-size: 100%;
      position: absolute;
      top: -50px;
      right: -50px;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }

  // .about__video-player

  &__video-player {
    width: 718px;
	 position: relative;
  }

  // .about__block-text

  &__block-text {
    width: 40%;
  }

  // .about__title

  &__title {
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $mainColorOrange;
    }
  }

  // .about__text

  &__text {
    font-size: 24px;
    margin-bottom: 18px;
    line-height: math.div(30, 26);
  }

  // .about__button

  &__button {
    &::before {
      background-color: transparent;
      &:hover {
      }
    }
    & span {
      border-color: $mainColorFonts;

      &:hover {
        background-color: $mainColorFonts;
      }
    }
  }
}
.title {
}
.main {
  // .main__button

  &__button {
  }
}
.button {
}
