.map {
  padding-bottom: unset;
  // .map__container

  &__container {
  }

  // .map__title

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  // .map__content

  &__content {
    display: flex;

    @media (max-width: $mobile) {
      height: 600px;
    }
    @media (max-width: $mobileSmall) {
      height: 500px;
    }
  }

  // .map__body

  &__body {
    width: 100%;
    height: 600px;

    @media (max-width: $mobile) {
      height: 500px;
    }
  }

  // .map__contacts

  &__contacts {
  }

  // .map__button

  &__button {
  }
}
.title {
}
.map-contacts {
  background-color: $mainColorFonts;
  color: $mainColor;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;

  @media (max-width: $mobile) {
    padding: 0;
  }
  @media (max-width: $mobileSmall) {
    row-gap: 20px;
  }

  // .map-contacts__elem

  &__elem {
  }

  // .map-contacts__elem-wrapper

  &__elem-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;

    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: start;
    }
  }

  // .map-contacts__elem-title

  &__elem-title {
    @include adaptiveValue("font-size", 32, 20, 1400, 768, 1);
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-transform: uppercase;
    margin-bottom: 18px;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $mainColor;
      opacity: 0.5;
    }
  }

  // .map-contacts__elem-desc

  &__elem-desc {
    @include adaptiveValue("font-size", 28, 18, 1400, 479, 1);
    line-height: math.div(28, 22);

    transition: all 0.3s;

    &:hover {
      color: $mainColorOrange;
      transition: all 0.3s;
    }
  }

  // .map-contacts__elem-desc-transportation

  &__elem-desc-transportation {
    &:hover {
      color: $mainColor;
    }
  }

  // .map-contacts__elem-messengers

  &__elem-messengers {
    display: flex;
    column-gap: 20px;
    position: relative;

  

    & svg {
      fill: $mainColor;
      width: 35px;
      height: 35px;
      transition: all 0.3s;

      &:hover {
        fill: $mainColorOrange;
        transition: all 0.3s;
      }
    }
  }

  // .map-contacts__elem-inst

  &__elem-inst {
    position: relative;
    & svg {
      width: 32px;
      height: 32px;
    }

    &::after {
      content: "*";
      position: absolute;
      right: -6px;
      top: -6px;
    }
  }
  // .map-contacts__elem-vk

  &__elem-vk {
  }

  // .map-contacts__elem-whatsapp

  &__elem-whatsapp {
  }

  // .map__widget {
  &__widget {
    width: 100%;
  }
}
.button {
}
