.partners {
  // .partners__container

  &__container {
  }

  // .partners__title

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  // .partners__one

  &__one {
    margin-bottom: 40px;
  }

  // .partners__body

  &__body {
    @include adaptiveValue("column-gap", 80, 20, 1400, 991, 1);

    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .partners__one
  &__one {
  }

  // .partners__two
  &__two {
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }
  // .partners__block-photo

  &__block-photo {
  }

  // .partners__block-text

  &__block-text {
  }
}
.title {
}
.partners-block {
  // .partners-block__photo

  &__photo {
    position: relative;
    width: 50%;

    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  // .partners-block__photo-wrapper

  &__photo-wrapper {
  }

  // .partners-block__photo-slide

  &__photo-slide {
    & img {
      height: 460px;
      width: 100%;
      object-fit: cover;

      @media (max-width: $mobile) {
        height: 300px;
      }
      @media (max-width: $mobileSmall) {
        height: 200px;
      }
    }
  }

  // .partners-block__text

  &__text {
  }

  // .partners-block__text-title

  &__text-title {
    @include adaptiveValue("font-size", 32, 22, 1400, 479, 1);
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width: $tablet) {
      margin-bottom: 16px;
    }
  }

  // .partners-block__text-desc

  &__text-desc {
    @include adaptiveValue("font-size", 20, 16, 1400, 479, 1);
    line-height: math.div(26, 20);
    margin-bottom: 20px;
  }

  // .partners-block__button
  &__button {
    & span {
      border-color: $mainColorFonts;

      &:hover {
        border-color: $mainColorFonts;
        background-color: $mainColorFonts;
      }
    }
  }
}
.swiper {
}
.swiper-button-wrapper {
}
.swiper-button-wrapper-partners {
}
.swiper-button {
}
.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-wrapper {
}
.swiper-slide {
}
