.rooms {
  // .rooms__container

  &__container {
  }

  // .rooms__title

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  // .rooms__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  // .rooms__slider

  &__slider {
  }

  // .rooms__slider-wrapper

  &__slider-wrapper {
  }

  // .rooms__slide

  &__slide {
  }
}
.swiper {
}
.swiper-wrapper {
}
.room {
  // .room__img-slider

  &__img-slider {
    position: relative;
    width: 80%;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  // .room__img-wrapper

  &__img-wrapper {
    height: auto !important;
  }

  // .room__img

  &__img {
    max-height: 500px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .room__block-top
  &__block-top {
    display: flex;
    column-gap: 20px;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .room__block-bottom
  &__block-bottom {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .room__text

  &__text {
    margin-top: 60px;
  }

  // .room__price-text
  &__price-text {
    margin-bottom: 10px;
  }

  // .room__price
  &__price {
    table {
      border: 1px solid black;
      border-collapse: collapse;
    }
    tr {
      text-align: center;
    }
    td {
      padding: 18px 10px;
      border: 1px solid;
    }
  }

  // .room__title

  &__title {
    @include adaptiveValue("font-size", 32, 22, 1400, 479, 1);

    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-bottom: 12px;

    @media (max-width: $tablet) {
      // display: flex;
      // flex-direction: row-reverse;
      // justify-content: flex-end;
      // align-items: center;
      // white-space: nowrap;
      // column-gap: 10px;
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      top: -30px;
      width: 40px;
      height: 6px;
      background-color: $mainColorOrange;

      @media (max-width: $tablet) {
        //   position: unset;
        width: 100%;
        height: 2px;
      }
    }
  }

  // .room__desc

  &__desc {
    line-height: math.div(22, 16);
    margin-bottom: 16px;

    @media (max-width: $mobileSmall) {
      font-size: 16px;
    }
  }

  // .room__button

  &__button {
    & span {
      border-color: $mainColorFonts;

      &:hover {
        border-color: $mainColorFonts;
        background-color: $mainColorFonts;
      }
    }
  }

  // .room__icons

  &__icons {
    width: 20%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $tablet) {
      width: 100%;
      flex-direction: unset;
      flex-wrap: wrap;
      row-gap: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media (max-width: $mobileSmall) {
      row-gap: 8px;
    }
  }

  // .room__icons-item

  &__icons-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    line-height: math.div(20, 16);

    @media (max-width: $tablet) {
      width: 30%;
    }
    @media (max-width: $mobile) {
      width: 50%;
      font-size: 16px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
      column-gap: 10px;
    }
  }

  // .room__icons-icon

  &__icons-icon {
    width: 38px;
    height: 38px;
    fill: $mainColorFonts;
    padding: 2px;

    &-bed-small {
      padding: 4px;
    }

    &-refrigerator {
      padding: unset;
    }

    @media (max-width: $mobileSmall) {
      min-width: 26px;
      min-height: 26px;
      width: 26px;
      height: 26px;
    }
  }

  // .room__icons-item-text

  &__icons-item-text {
  }
}

.room-img {
  // .room-img__slider-pagination

  &__slider-pagination {
    display: flex;
    column-gap: 10px;
    position: unset;
    bottom: 0;
    justify-content: center;
    margin-top: 10px;
  }
}
