.rooms {
  padding-top: 60px;
  padding-bottom: 60px;

  // .rooms__container

  &__container {
  }

  // .rooms__title

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  // .rooms__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  // .rooms__slider

  &__slider {
  }

  // .rooms__slider-wrapper

  &__slider-wrapper {
  }

  // .rooms__slide

  &__slide {
  }
}
.swiper {
}
.swiper-wrapper {
}
.room {
  // .room__img-slider

  &__img-slider {
    position: relative;
    width: 70%;
  }

  // .room__img-wrapper

  &__img-wrapper {
    height: auto !important;
  }

  // .room__img

  &__img {
    max-height: 500px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .room__block-top
  &__block-top {
    display: flex;
    column-gap: 20px;
  }

  // .room__block-bottom
  &__block-bottom {
  }

  // .room__text

  &__text {
    margin-top: 30px;
  }

  // .room__title

  &__title {
    display: inline-block;
    position: relative;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      content: "";
      top: -30px;
      width: 40px;
      height: 6px;
      background-color: $mainColorOrange;
    }
  }

  // .room__desc

  &__desc {
    line-height: math.div(22, 16);
    margin-bottom: 16px;
  }

  // .room__button

  &__button {
    & span {
      border-color: $mainColorFonts;

      &:hover {
        border-color: $mainColorFonts;
        background-color: $mainColorFonts;
      }
    }
  }

  // .room__icons

  &__icons {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
  }

  // .room__icons-item

  &__icons-item {
    display: flex;
    column-gap: 20px;
    line-height: math.div(20, 16);
  }

  // .room__icons-item-img

  &__icons-item-img {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    fill: $mainColorFonts;
  }

  // .room__icons-item-text

  &__icons-item-text {
  }
}

.room-img {
  // .room-img__slider-pagination

  &__slider-pagination {
    display: flex;
    column-gap: 10px;
    position: unset;
    bottom: 0;
    justify-content: center;
    margin-top: 10px;
  }
}
.swiper-button-prev {
  position: absolute;
  z-index: 2;
  left: 0;
  border: unset;
  border-radius: unset;
  height: 100%;
  background-color: $mainColor;
  opacity: 0.7;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s;

    & svg {
      transform: scale(1.2) translateX(2px);
    }
  }
}
.swiper-button-next {
  position: absolute;
  z-index: 2;
  right: 0;
  border: unset;
  border-radius: unset;
  height: 100%;
  background-color: $mainColor;
  opacity: 0.7;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s;

    & svg {
      transform: scale(1.2) translateX(2px);
    }
  }
}
