.services {
  background-color: #faf8f0;
  padding-top: 100px;
  padding-bottom: 100px;
  // .services__container

  &__container {
  }

  // .services__title

  &__title {
    margin-bottom: 60px;
  }

  // .services__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
  }

  // .services__spollers

  &__spollers {
    width: 46%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  // .services__block

  &__block {
    width: 50%;
  }

  // .services__block-img-wrapper

  &__block-img-wrapper {
  }

  // .services__img

  &__img {
  }
}
.title {
}
.services-spollers {
  // .services-spollers__item

  &__item {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: -20px;
      height: 1px;
      width: 100%;
      background-color: $mainColorOrange;
    }
  }

  // .services-spollers__title

  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  // .services-spollers__body

  &__body {
    line-height: math.div(22, 18);
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
