.ticket {
  padding-top: 80px;
  padding-bottom: 80px;
  // .ticket__container

  &__container {
  }

  // .ticket__title

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }
}
.title {
}
