// Заголовки, общие БЄМ блоки и проче...
section {
  background-color: #faf8f0;
}
.title {
  font-size: 40px;
  font-weight: 600;
}
.button {
  color: $mainColorFonts;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  cursor: pointer;
  min-width: 150px;

  & span {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 10px;
    transition: 0.3s;

    color: $mainColorFonts;
    border: 1px solid $mainColor;
    border-radius: 6px;
    transition: 0.2s;

    &:hover {
      color: $mainColor;
      transition: 0.2s;
      border-color: $mainColor;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }
  &:hover {
    &::before {
      opacity: 0;
    }
  }
  &::before {
    background-color: $mainColor;
    border-radius: 6px;
    transition: 0.3s ease-out;

    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }

  &_background_blue {
    & span {
      color: #faf8f0;

      &:hover {
        color: $mainColor;
        border-color: $mainColor;
      }
    }
    &::before {
      background-color: $mainColor;
    }
  }
}
// Стили для галереи lightGallery
.lg-backdrop.in {
  opacity: 0.5 !important;
}
// Стили для слайдера Swiper

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-progressbar {
  background: $mainColor;
  position: absolute;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transition-duration: 800ms;
  background: $mainColorOrange;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1);
  transform-origin: left top;
}
.swiper-button-wrapper {
  display: flex;
  column-gap: 10px;

  &-rooms {
  }
  &-services {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
.swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid $mainColorFonts;
  column-gap: 10px;

  & svg {
    width: 35px;
    height: 35px;
    fill: $mainColorFonts;
    transition: all 0.2s;
  }

  &-services {
    width: 40px;
    height: 40px;

    & svg {
      width: 28px;
      height: 28px;
    }
  }
}
.swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-pagination-bullet {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $mainColorFonts;

  &-active {
    background-color: $mainColorFonts;
    transition: all 0.3s;
  }
}
// Стили для плеера Plyr

.plyr {
  &__poster {
    background-size: cover;
  }
  &__control {
    &:hover {
      background-color: $mainColorOrange !important;
    }
  }
  &__control--overlaid {
    width: 100px !important;
    height: 100px !important;
    background-color: $mainColor !important;
    border: 1px solid $mainColor;
    & svg {
      fill: $mainColorOrange;
      margin-left: auto;
      margin-right: auto;
      left: 2px;
      width: 40px;
      height: 40px;
    }
    &:hover {
      background-color: transparent !important;
      & svg {
        fill: $mainColorOrange;
      }
    }
  }

  &--full-ui input[type="range"] {
    color: $mainColorOrange !important;
  }

  &__menu {
    display: none;
  }
}

// Наблюдатель за появлением элементов _watcher-view

@keyframes appearanceY {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearanceX {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// main

.main__title {
  transform: translateY(80%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.main__text {
  transform: translateY(200%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.main__button {
  transform: translateY(80%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

// about

.about__block-video {
  transform: translateX(-50%);
  opacity: 0;
  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.about__title {
  transform: translateX(50%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.about__text {
  transform: translateX(50%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.about__button {
  transform: translateX(50%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

// benefits
.benefits__title {
  transform: translateY(120%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.benefits__text {
  transform: translateY(120%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.benefits__cards {
  & .benefits__card {
    transform: translateY(50%);
    opacity: 0;
  }

  &._watcher-view {
    & .benefits__card {
      animation: appearanceY 0.6s 0.2s forwards;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.5s;
      }
    }
  }
}

//room
.rooms__title {
  transform: translateY(120%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.room__img-slider {
  transform: translateY(20%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.room__text {
  transform: translateX(-100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.room__icons {
  & .room__icons-item {
    transform: translateX(50%);
    opacity: 0;
  }

  &._watcher-view {
    & .room__icons-item {
      animation: appearanceX 0.6s 0.2s forwards;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

// gallery
.gallery__title {
  transform: translateY(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.gallery__body {
  transform: translateY(20%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

//partners
.partners__title {
  transform: translateY(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.partners__one .partners-block__photo {
  transform: translateX(-100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.partners__one .partners-block__text {
  transform: translateX(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.partners__two .partners-block__photo {
  transform: translateX(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

.partners__two .partners-block__text {
  transform: translateX(-100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}

// map
.map__title {
  transform: translateY(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceY 0.6s 0.2s forwards;
  }
}

.map-contacts {
  transform: translateX(-100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}
.map__body {
  transform: translateX(100%);
  opacity: 0;

  &._watcher-view {
    animation: appearanceX 0.6s 0.2s forwards;
  }
}
